<!doctype html>
<html>
<head>
</head>

<body>
<h1>Nick's Limitless Plateau</h1>
<ul>
  <li>The Guardian – <a href="<%= @guardian.entries.first.link %>"><%= @guardian.entries.first.title %></a></li>
  <li>Al Jazeera – <a href="<%= @aljaz.entries.first.link %>"><%= @aljaz.entries.first.title %></a></li>
  <li>Sky News – <a href="<%= @skynews.entries.first.link %>"><%= @skynews.entries.first.title %></a></li>
  <li>BBC News – <a href="<%= @beeb.entries.first.link %>"><%= @beeb.entries.first.title %></a></li>
  <li>CNN – <a href="<%= @cnn.entries.first.link %>"><%= @cnn.entries.first.title %></a></li>
</ul>
</body>

</html>